<nav class="blue darken-4">
  <div class="nav-wrapper center">
    <a href="/" class="brand-logo">Notifications</a>
    <ul id="nav-mobile" class="hide-on-med-and-down">

      {{#if isIndex}}
      <li class="active"><a href="/">Notifications</a></li>
      {{else}}
      <li><a href="/">Notifications</a></li>
      {{/if}}

      {{#if isCreate}}
      <li class="active"><a href="/create">Create</a></li>
      {{else}}
      <li><a href="/create">Create</a></li>
      {{/if}}

    </ul>
  </div>
</nav>
