<form action="/create" method="POST">
  <h2>Create Notification</h2>

  <div class="input-field">
    <input type="text" name="title">
    <label>Notification message</label>
  </div>

  <button type="submit" class="btn">Create</button>
</form>
